.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.auth-link ul{
    display: flex;
    list-style-type: none;
    
}

.auth-link ul li{
    margin: 0 8px;
}