.headerWrapper{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
}

.auth-link ul{
    display: flex;
    list-style-type: none;
    
}

.auth-link ul li{
    margin: 0 10px ;
}


.auth-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}